.display-test-item {
  margin-top: 5%;
  margin-left: 30%;
  font-size: 200px;
  font-family: "Niramit", sans-serif;
  color: black;
}

.test-complete-message {
  margin-left: 2.5%;
  font-size: 36px;
}
