#yes-button {
  width: 100px;
  border-radius: 3px;
  font-size: 24px;
  font-family: "Niramit", sans-serif;
  margin-left: 20%;
  padding: 5px;
  background-color: #2cc2e1;
  color: black;
}

#no-button {
  width: 100px;
  border-radius: 3px;
  font-size: 24px;
  font-family: "Niramit", sans-serif;
  margin-left: 25%;
  padding: 5px;
  background-color: #f15e5e;
  color: black;
}

.display-test-item {
  margin-top: 5%;
  margin-left: 30%;
  font-size: 200px;
  font-family: "Niramit", sans-serif;
  color: black;
}

#end-test-button {
  width: 150px;
  border-radius: 3px;
  font-size: 24px;
  margin-left: 35%;
  background-color: #9b489a;
  font-family: "Niramit", sans-serif;
  color: #1a1b41;
}
.test-complete-message {
  margin-left: 2.5%;
  font-size: 36px;
}
#link {
  color: #1a1b41;
  font-size: 20px;
}
