form {
  font-family: "Niramit", sans-serif;
}

#add-item-button {
  background-color: #0033ff;
  color: white;
  font-size: 20px;
  padding: 10px;
}

.assign-items-form {
  float: left;
  width: 300px;
}

#form-label {
  margin-bottom: 10px;
  vertical-align: top;
  font-size: 20px;
}

.assign-items-select {
  font-size: 18px;
  vertical-align: bottom;
  width: 200px;
  min-height: 500px;
}
#add-to-student-button {
  font-size: 14px;
  margin-top: 2%;
  background-color: #0033ff;
  color: white;
  border-radius: 3px;
  padding: 5px;
}
