.student-detail-table-div {
  font-size: 20px;
  left: -70%;
  position: relative;
  float: left;
}
.student-table {
  font-size: 22px;
  color: black;
}

.unordered-list {
  list-style-type: none;
  color: black;
}

.student-snapshot {
  font-size: 20px;
  color: black;
}

.link {
  color: #0033ff;
  background-color: white;
}
#words {
  background-color: #0033ff;
  text-align: center;
  color: white;
}
#letters {
  background-color: #008000;
  text-align: center;
  color: white;
}
#sounds {
  background-color: #ff6600;
  text-align: center;
  color: white;
}
#test-date {
  font-size: 18px;
}
ul {
  list-style-type: none;
}

#item-name-list {
  color: #0033ff;
}

#student-name-table-header {
  font-size: 26px;
  display: inline-block;
  margin-right: 5px;
}
