.student-detail-table-div {
  font-size: 14px;
  left: -70%;
  position: relative;
  float: left;
}

.students-table {
  font-size: 14px;
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .students-table {
    margin-left: -15px;
  }
}

th {
  font-size: 14px;
  text-align: center;
}
.unordered-list {
  list-style-type: none;
  color: black;
}

.link {
  color: #44857d;
}
.underline-link {
  color: #44857d;
  text-decoration-color: #44857d;
  text-decoration: underline;
  background-color: white;
}

ul {
  list-style-type: none;
}

#item-name-list {
  color: #44857d;
}
@media only screen and (max-width: 600px) {
  #student-name-table-header {
    font-size: 8px;
  }
}
@media only screen and (max-width: 600px) {
  #students-table {
    font-size: 4px;
  }
}
