#items {
  font-family: "Krub", sans-serif;
}

#display-items {
  font-size: 50px;
}

.assign-items-page {
  font-family: "Krub", sans-serif;
  font-size: 18px;
}

#item-detail {
  font-family: "Krub", sans-serif;
}
