.display-charts {
  font-size: 20px;
  font-family: "Niramit", sans-serif;
}
.student-line-chart {
  font-size: 20px;
  font-family: "Niramit", sans-serif;
  width: auto;
  display: inline-block;
}

.student-doughnut-chart {
  font-size: 20px;
  font-family: "Niramit", sans-serif;
  width: auto;
  display: inline-block;
}

#student-line-chart {
  font-size: 20px;
  font-family: "Niramit", sans-serif;
  display: inline-block;
}

#student-doughnut-chart {
  font-size: 20px;
  font-family: "Niramit", sans-serif;
  display: inline-block;
}
