.user {
  font-family: "Krub", sans-serif;
  text-align: center;
}

#login-error {
  margin-left: 5px;
  color: red;
  display: inline-block;
}
#login-link {
  color: #44857d;
  text-decoration: underline;
  text-decoration-color: #44857d;
}
.introduction {
  font-size: 20px;
}

#login-button {
  height: 40px;
  width: 70px;
  background-color: #018f75;
  color: white;
  border: 1px solid white;
}

#request-password-button {
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: -30px;
  padding: 5px;
  background-color: #018f75;
  color: white;
  height: 40px;
  width: 130px;
}
#login-form-username {
  margin-left: -5px;
}

#username {
  width: 200px;
  height: 40px;
  margin: 5px;
}
#password {
  width: 200px;
  height: 40px;
  margin: 5px;
}
#register-page {
  font-family: "Krub", sans-serif;
}

#register-user-button {
  background-color: #018f75;
  font-size: 22px;
  color: white;
  border-radius: 4px;
}
#instructions {
  font-size: 20px;
  font-family: "Krub", sans-serif;
}

#reset-password {
  margin-right: 20px;
  text-align: center;
  font-family: "Krub", sans-serif;
}
.reguest-form {
  font-size: 18px;
  margin-left: -50px;
  margin-right: 20px;
}

#email {
  width: 250px;
  height: 40px;
  margin-left: -10px;
}

#reset-password-h1 {
  text-align: center;
  font-family: "Krub", sans-serif;
  font-size: 30px;
}

#forgot-password {
  font-family: "Krub", sans-serif;
  text-align: center;
}
#forgot-password-link {
  color: #44857d;
  text-decoration: underline;
  text-decoration-color: #44857d;
}

#huge {
  font-size: 300px;
}

.picture {
  height: 50vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("./bianca7.png");
  background-repeat: no-repeat;
}

img {
  border: 1px solid #003d59;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bordered-div {
  text-align: center;
  width: 600px;
}

.header {
  margin-top: 10%;
  font-size: 60px;
  text-align: center;
}
.intro {
  font-size: 14px;
  text-align: center;
}

.welcome-button {
  background-color: #003d59;
  color: white;
  font-size: 20px;
  margin: 3%;
}

/* .first-circle {
  background-color: rgb(68, 133, 125, 0.6);
  border: 5px solid #003d59;
  padding: 2;
  text-align: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
} */

.blue-div {
  height: 100%;
  position: relative;
  float: right;
  z-index: 1;
  background-color: #003d59;
  color: white;
  max-height: 600px;
  width: 34%;
  text-align: center;
}
.circle {
  background-color: rgb(68, 133, 125, 0.6);
  border: 5px solid #003d59;
  padding: 2;
  text-align: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 35px;
  display: inline-block;
}

/* .third-circle {
  background-color: rgb(68, 133, 125, 0.6);
  border: 5px solid #003d59;
  padding: 2;
  text-align: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
} */

@media only screen and (max-width: 600px) {
  img {
    border: 1px solid #003d59;
    width: 300px;
    display: block;
    margin-left: -40px;
    /* margin-right: auto;  */
  }
}

@media only screen and (max-width: 600px) {
  .bordered-div {
    width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .picture {
    height: 50vh;
    width: 120%;
    background-position: center;
    background-size: cover;
    background-image: url("./bianca7.png");
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    margin-left: 5px;
    margin-top: 10%;
    font-size: 25px;
    text-align: left;
  }
}

@media only screen and (max-width: 600px) {
  .intro {
    margin-left: 5px;
    font-size: 8px;
    text-align: left;
  }
}

@media only screen and (max-width: 600px) {
  .welcome-button {
    margin: 3%;
    background-color: #003d59;
    color: white;
    font-size: 10px;
  }
}

.circle-div {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .blue-div {
    height: 100%;
    position: relative;
    float: right;
    z-index: 1;
    background-color: #003d59;
    color: white;
    max-height: 600px;
    width: 50%;
    text-align: center;
  }
}
