.user {
  font-family: "Krub", sans-serif;
  text-align: center;
}

#login-error {
  margin-left: 5px;
  color: red;
  display: inline-block;
}
#login-link {
  color: #44857d;
  text-decoration: underline;
  text-decoration-color: #44857d;
}
.introduction {
  font-size: 20px;
}
img {
  max-width: 300px;
}
#login-button {
  height: 40px;
  width: 70px;
  background-color: #018f75;
  color: white;
  border: 1px solid white;
}

#request-password-button {
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: -30px;
  padding: 5px;
  background-color: #018f75;
  color: white;
  height: 40px;
  width: 130px;
}
#login-form-username {
  margin-left: -5px;
}

#username {
  width: 200px;
  height: 40px;
  margin: 5px;
}
#password {
  width: 200px;
  height: 40px;
  margin: 5px;
}
#register-page {
  font-family: "Krub", sans-serif;
}

#register-user-button {
  background-color: #018f75;
  font-size: 22px;
  color: white;
  border-radius: 4px;
}
#instructions {
  font-size: 20px;
  font-family: "Krub", sans-serif;
}

#reset-password {
  margin-right: 20px;
  text-align: center;
  font-family: "Krub", sans-serif;
}
.reguest-form {
  font-size: 18px;
  margin-left: -50px;
  margin-right: 20px;
}

#email {
  width: 250px;
  height: 40px;
  margin-left: -10px;
}

#reset-password-h1 {
  text-align: center;
  font-family: "Krub", sans-serif;
  font-size: 30px;
}

#forgot-password {
  font-family: "Krub", sans-serif;
  text-align: center;
}
#forgot-password-link {
  color: #44857d;
  text-decoration: underline;
  text-decoration-color: #44857d;
}

#huge {
  font-size: 300px;
}

@media only screen and (max-width: 800px) {
  .jumbotron {
    background-size: 200%;
  }
}
