#navbar {
  color: black;
  font-family: "Niramit", sans-serif;
  font-size: 18px;
  background-color: #ff3333;
}

#basic-nav-dropdown {
  color: white;
}
#Brand {
  color: white;
}
#Logout {
  color: white;
}
#Words {
  background-color: #0033ff;
  color: white;
  font-size: 20px;
}
#Letters {
  background-color: #008000;
  color: white;
  font-size: 20px;
}
#Sounds {
  background-color: #ff6600;
  color: white;
  font-size: 20px;
}
#Logout {
  background-color: #ff3333;
  color: white;
  font-size: 20px;
}
#Students {
  background-color: #663399;
  color: white;
  font-size: 20px;
}

.dropdown-menu {
  border-radius: 10px;
}
