#navbar {
  color: white;
  font-family: "Krub", sans-serif;
  font-size: 18px;
  background-color: #003d59;
}

#basic-nav-dropdown {
  background-color: #003d59;
  color: white;
}
#Brand {
  background-color: #003d59;
  color: white;
}
#drop-down {
  color: white;
}
#Words {
  background-color: #003d59;
  color: white;
  font-size: 16px;
}
#Letters {
  background-color: #003d59;
  color: white;
  font-size: 16px;
}
#Sounds {
  background-color: #003d59;
  color: white;
  font-size: 16px;
}
#Logout {
  background-color: #003d59;
  color: white;
  font-size: 16px;
}
#Students {
  background-color: #003d59;
  color: white;
  font-size: 16px;
}

.collapse.in {
  display: block;
}
