#student-name {
  display: inline-block;
  font-size: 36px;
  color: black;
}
.display-student {
  font-size: 45px;
  width: 400px;
}
#delete-student-detail {
  display: inline-block;
  color: black;
}
.table-link {
  color: white;
}
.students {
  font-size: 22px;
  font-family: "Niramit", sans-serif;
  color: black;
}

.student-detail-menu {
  margin-top: 20px;
  margin-left: -50px;
  margin-bottom: 50px;
  color: white;
  float: right;
  height: 250px;
  width: 500px;
}
.all-students-menu {
  margin-right: 150px;
  margin-top: -240px;
  margin-left: -200px;
  margin-bottom: 50px;
  color: white;
  float: right;
  height: 250px;
  width: 500px;
}
.student-snapshot {
  float: left;
  font-size: 24px;
}
#student-detail-sentences {
  float: left;
  font-size: 19px;
}
.instructions {
  font-size: 24px;
  width: 400px;
}
.balloon {
  border-radius: 50%;
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  border: 0.3px solid black;
  content: "";
  height: 90px;
  left: 10px;
  width: 82px;
  display: inline-block;
  vertical-align: bottom;
  color: white;
}
#all-data-img {
  transform: rotate(90deg);
  height: 20px;
  margin-top: 34px;
  opacity: 0.6;
}

#top-left-img {
  transform: rotate(90deg);
  height: 22px;
  margin-top: 40px;
  opacity: 0.6;
}
#top-center-img {
  transform: rotate(90deg);
  height: 22px;
  margin-left: 3px;
  margin-top: 40px;
  opacity: 0.6;
}
#top-right-img {
  transform: rotate(90deg);
  height: 22px;
  margin-left: 3px;
  margin-top: 40px;
  opacity: 0.6;
}
#center-left-img {
  transform: rotate(90deg);
  height: 22px;
  margin-left: 3px;
  margin-top: 35px;
  opacity: 0.6;
}
#center-center-img {
  transform: rotate(90deg);
  height: 22px;
  margin-left: 3px;
  margin-top: 35px;
  opacity: 0.6;
}
#center-right-img {
  transform: rotate(90deg);
  height: 22px;
  margin-left: 3px;
  margin-top: 35px;
  opacity: 0.6;
}
#bottom-left-img {
  transform: rotate(90deg);
  height: 22px;
  margin-left: 3px;
  margin-top: 35px;
  opacity: 0.6;
}

#bottom-center-img {
  transform: rotate(90deg);
  height: 22px;
  margin-left: 3px;
  margin-top: 35px;
  opacity: 0.6;
}
#bottom-right-img {
  transform: rotate(90deg);
  height: 22px;
  margin-left: 3px;
  margin-top: 35px;
  opacity: 0.6;
}

#all-data {
  font-size: 24px;
  line-height: 1;
  background-color: #663399;
  margin-right: -60%;
  /* margin-left: 5%; */
  /* margin-bottom: -15%; */
  text-align: center;
}
#top-left {
  line-height: 1;
  margin-left: 15%;
  background-color: #0033ff;
  color: white;
  text-align: center;
}

#center-left {
  font-size: 24px;
  line-height: 1;
  margin-left: 72%;
  background-color: #0033ff;
  color: white;
  text-align: center;
}
#bottom-left {
  margin-left: 15%;
  font-size: 24px;
  line-height: 1;
  background-color: #0033ff;
  color: white;
  text-align: center;
}

#top-center {
  line-height: 1;
  margin-left: 11%;
  background-color: #008000;
  color: white;
  text-align: center;
}
#center-center {
  font-size: 24px;
  line-height: 1;
  margin-left: 11%;
  background-color: #008000;
  color: white;
  text-align: center;
}
#bottom-center {
  font-size: 24px;
  line-height: 1;
  margin-left: 11%;
  background-color: #008000;
  color: white;
  text-align: center;
}
#top-right {
  line-height: 1;
  margin-left: 11%;
  background-color: #ff6600;
  color: white;
  text-align: center;
}
#center-right {
  font-size: 24px;
  line-height: 1;
  margin-left: 11%;
  background-color: #ff6600;
  color: white;
  text-align: center;
}
#bottom-right {
  font-size: 24px;
  line-height: 1;
  margin-left: 11%;
  background-color: #ff6600;
  color: white;
  text-align: center;
}

.all-students-balloon {
  border-radius: 50%;
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  border: 0.3px solid black;
  content: "";
  height: 110px;
  left: 10px;
  width: 100px;
  display: inline-block;
  vertical-align: bottom;
  color: white;
}

#all-students-center-left {
  font-size: 24px;
  line-height: 1;
  background-color: #0033ff;
  color: white;
  text-align: center;
}

#all-students-center-center {
  font-size: 24px;
  line-height: 1;
  margin-left: 11%;
  background-color: #008000;
  color: white;
  text-align: center;
}

#all-students-center-right {
  font-size: 24px;
  line-height: 1;
  margin-left: 11%;
  background-color: #ff6600;
  color: white;
  text-align: center;
}

#all-students-bottom-left {
  font-size: 26px;
  margin-left: 15%;
  line-height: 1;
  background-color: #0033ff;
  color: white;
  text-align: center;
}

#all-students-bottom-center {
  font-size: 26px;
  line-height: 1;
  margin-left: 11%;
  background-color: #008000;
  color: white;
  text-align: center;
}

#all-students-bottom-right {
  font-size: 26px;
  line-height: 1;
  margin-left: 11%;
  background-color: #ff6600;
  color: white;
  text-align: center;
}

.word-balloons-top {
  margin-top: -15px;
}
.word-balloons-center {
  margin-top: -12px;
}
.word-balloons-bottom {
  margin-top: -7px;
}
.student-detail-menu-link {
  font-size: 20px;
  color: white;
}

#all-students-center-left-img {
  transform: rotate(90deg);
  height: 30px;
  margin-left: 3px;
  margin-top: 62px;
  opacity: 0.6;
}
#all-students-center-center-img {
  transform: rotate(90deg);
  height: 30px;
  margin-left: 3px;
  margin-top: 62px;
  opacity: 0.6;
}
#all-students-center-right-img {
  transform: rotate(90deg);
  height: 30px;
  margin-left: 3px;
  margin-top: 62px;
  opacity: 0.6;
}

#all-students-bottom-left-img {
  transform: rotate(90deg);
  height: 30px;
  margin-left: 3px;
  margin-top: 56px;
  opacity: 0.6;
}
#all-students-bottom-center-img {
  transform: rotate(90deg);
  height: 30px;
  margin-left: 3px;
  margin-top: 56px;
  opacity: 0.6;
}
#all-students-bottom-right-img {
  transform: rotate(90deg);
  height: 30px;
  margin-left: 3px;
  margin-top: 56px;
  opacity: 0.6;
}
